/Knack/Backup
/Knack/obj
/Knack/bin/Debug/Knack.vshost.exe.manifest
/Knack/bin/Debug/nunit.framework.dll
/Knack/bin/Debug/WinTablet.dll
/Knack/bin/Debug/WinTablet.pdb
/Knack/bin/Debug/Knack.exe.config
/Knack/bin/Debug/Knack.pdb
/Knack/bin/Debug/Knack.vshost.exe
/Knack/bin/Debug/Knack.vshost.exe.config
/Knack/bin/Debug/Knack.exe
/Knack/Knack.v12.suo
/Knack/UpgradeLog.htm
/Knack/bin/Release/Knack.exe.config
/Knack/bin/Release/Knack.vshost.exe
/Knack/bin/Release/Knack.vshost.exe.config
/Knack/bin/Release/Knack.vshost.exe.manifest
/Knack/bin/Release/nunit.framework.dll
/Knack/bin/Release/WinTablet.dll
/Knack/bin/Release/Knack.exe
/WinTablet/WinTablet/bin
/WinTablet/WinTablet/obj
/Knack/Knack.csproj.user
/Knack/packages
